<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>
    <h1>Hello Home Page</h1>
    <p id="os"><b>OS:</b> {{ Os }} </p>
    <p id="language"><b>Language:</b> </p>
    <p id="version"><b>Version:</b> </p>
    <p id="isInClient"><b>isInClient:</b> </p>
    <p id="accessToken"><b>AccessToken:</b> </p>


    <script src="js/vconsole.min.js"></script>
  <script>
    var vConsole = new VConsole()
    console.log("Hello World!")
  </script>
    <script src="https://static.line-scdn.net/liff/edge/versions/2.1.13/sdk.js"></script>
</body>

</html>